<div class='slopeController hide'>
    <div>偵測 aid：<input type='text' id='detectAid' value=''></div>
    <div>狀態改變次數權重：<input type='range' id='changeTimeWeight' min='5' max='50' value="20"><span></span></div>
    <div>斜率偵測區間：<input type='range' id='detectRang' min='3' max='20' value="10"><span></span></div>
    <div>平地斜率範圍：<input type='range' id='elevationWeight' min='0.01' max='0.05' value="0.02" step='0.01'><span></span></div>
    <div>優化斜率計算結果：<select id='optimization'><option value="1">優化</option><option value="0">不優化</option></select></div>
    <div>合併一樣的區間：<select id='mergeSameArea'><option value="1">合併</option><option value="0">不合併</option></select></div>
    <div>使用者體重：<input type='range' id='userWeight' min='40' max='100' value="60" step='0.01'><span></span></div>
    <div>坡度顯示：<select id='showSlopeRate'><option value="1">顯示</option><option value="0">不顯示</option></select></div>

    <!-- <div><button id='drawButton'>draw</button></div> -->
    <hr>
        <div>狀態：<span class='statusLog'></span></div>
    <hr>
</div>
