<div class='tableBox hide'>
    <div class="table">
            <div class="table_tr">
                <div class='table_td '>距離（公里）</div>
                <div class='table_td sub'>平均速度</div>
                <div class='table_td sub'>穩定度</div>
                <div class='table_td sub'>最快速度(Adjusted)</div>
                <div class='table_td sub'>最慢速度(Adjusted)</div>
            </div>
            <% _.each(stability, function(data, kType) { %>
                <div class="table_tr">
                    <div class='table_td title'><%=Util.formatDistance((kType+1)*1000)%></div>
                    <div class='table_td value'><%=data.meanSpeed%></div>
                    <div class='table_td value'><%=data.stability%></div>
                    <div class='table_td value'><%=data.maxSpeed%></div>
                    <div class='table_td value'><%=data.minSpeed%></div>
                    <!-- <div class='table_td value'><%=data.stdDevSpeed%></div> -->
                </div>
            <%});%>
    </div>
</div>
