<div class='tableBox'>
    <div class='sub'>速度表現摘要</div>
    <div class="table">
        <div class="table_tr">
            <div class="table_td title">
                K 線最快速度
            </div>
            <div class="table_td value">
                <% _.each(stabilitySummary.limitSpeedIndex.max, function(data ) { %>
                <div><span style='color:rgba(255,0,0,1)'>☻</span>速度：<%=data.meanSpeed%>, <%=data.index%>K 處</div>
                <%});%>
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td title">
                K 線最慢速度
            </div>
            <div class="table_td value">
                <% _.each(stabilitySummary.limitSpeedIndex.min, function(data ) { %>
                <div><span style='color:rgba(0,255,0,1)'>☻</span>速度：<%=data.meanSpeed%>, <%=data.index%>K 處</div>
                <%});%>
            </div>
        </div>
    </div>
    <div class='sub'>穩定度分析</div>
    <div class="table">
        <div class="table_tr">
            <div class="table_td title">
                穩定等級
            </div>
            <div class="table_td value">
                <%=stabilitySummary.avgStabilityLevel%>
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td title">
                穩定度指數
            </div>
            <div class="table_td value">
                <%=Util.formatPercent(stabilitySummary.stabilityIndex)%>
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td title">
                最佳穩定表現
            </div>
            <div class="table_td value">
                <%if (stabilitySummary.bestStabilityPeriod.length>0){%>
                    <% _.each(stabilitySummary.bestStabilityPeriod, function(data ) { %>
                        <div><%=data[0]%> ~ <%=data[1]%> K</div>
                    <%});%>
                <%}else{%>
                    --
                <%}%>
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td title">
                最佳穩定表現
            </div>
            <div class="table_td value">
                <%=stabilitySummary.minStabilityIndex-1%> ~ <%=stabilitySummary.minStabilityIndex%> K, <%= Util.formatStabilityLevel(stabilitySummary.minStability)%>
            </div>
        </div>
    </div>
    <div class='sub'>體能分析</div>
    <div class="table">
        <div class="table_tr">
            <div class="table_td title">
                配速爬升指數
            </div>
            <div class="table_td value" data-val="<%=stabilitySummary.avgSccerateIndex%>">
                <%=Util.formatSccerateIndex(stabilitySummary.avgSccerateIndex)%>
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td sub">
                配速提升期
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td title">
                提速區段
            </div>
            <div class="table_td value" data-val="<%=stabilitySummary.avgSccerateIndex%>">
                <% _.each(stabilitySummary.meanSpeedTypeLineRange['meanSpeedRaise'], function(data ) { %>
                    <div>
                        <span style='color:rgba(229,69,69,0.7);font-weight:900;'>-</span>
                        <%=data[0].x%> - <%=data[data.length-1].x%>K
                    </div>
                <%});%>
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td title">
                最大加速升幅
            </div>
            <div class="table_td value" data-val="<%=stabilitySummary.avgSccerateIndex%>">
                <div>
                    <span style='color:rgba(229,69,69,0.7)'>▲</span>
                    <%=stabilitySummary.diffMeanSpeedLimitIndex.max.value%>, <%=stabilitySummary.diffMeanSpeedLimitIndex.max.index-1%>-<%=stabilitySummary.diffMeanSpeedLimitIndex.max.index%>K
                </div>
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td title">
                持續加速期
            </div>
            <div class="table_td value" data-val="<%=stabilitySummary.avgSccerateIndex%>">
                <% _.each(continueDiffMeanSpeed.meanSpeedRaise, function(data ) { %>
                <div>
                    <span style='color:rgba(229,69,69,0.7)'>▲</span>
                    <%=data.value%>, <%=data.from%>-<%=data.to%>K
                </div>
                <%});%>
            </div>
        </div>


        <div class="table_tr">
            <div class="table_td sub">
                配速下降期
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td title">
                降速區段
            </div>
            <div class="table_td value" data-val="<%=stabilitySummary.avgSccerateIndex%>">
                <% _.each(stabilitySummary.meanSpeedTypeLineRange['meanSpeedDecline'], function(data ) { %>
                    <div>
                        <span style='color:rgba(69,229,69,0.7);font-weight:900;'>-</span>
                        <%=data[0].x%> - <%=data[data.length-1].x%>K
                    </div>
                <%});%>
            </div>
        </div>

        <div class="table_tr">
            <div class="table_td title">
                最大衰退降幅
            </div>
            <div class="table_td value" data-val="<%=stabilitySummary.avgSccerateIndex%>">
                <div>
                    <span style='color:rgba(69,229,69,0.7)'>▼</span>
                    <%=stabilitySummary.diffMeanSpeedLimitIndex.max.value%>, <%=stabilitySummary.diffMeanSpeedLimitIndex.max.index-1%>-<%=stabilitySummary.diffMeanSpeedLimitIndex.max.index%>K
                </div>
            </div>
        </div>
        <div class="table_tr">
            <div class="table_td title">
                持續衰退期
            </div>
            <div class="table_td value" data-val="<%=stabilitySummary.avgSccerateIndex%>">
                <% _.each(continueDiffMeanSpeed.meanSpeedDecline, function(data ) { %>
                <div>
                    <span style='color:rgba(69,229,69,0.7)'>▼</span>
                    <%=data.value%>, <%=data.from%>-<%=data.to%>K
                </div>
                <%});%>
            </div>
        </div>
    </div>
</div>
