<div class='row'>
    <div class='tableBox'>
        <div class="table">
            <div class="table_tr">
                <div class='table_td title'>總GPS里程</div>
                <div class='table_td value'><%=Util.formatDistance(summary.totleDistance)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>總實際里程</div>
                <div class='table_td value'><%=Util.formatDistance(summary.totleRealDistance)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>總時間</div>
                <div class='table_td value'><%=Util.formatTime(summary.totleTime)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>全程均速</div>
                <div class='table_td value'><%=Util.formatSpeed(summary.totleDistance, summary.totleTime)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>移動時間</div>
                <div class='table_td value'><%=Util.formatTime(summary.moveTime)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>移動均速</div>
                <div class='table_td value'><%=Util.formatSpeed(summary.totleDistance, summary.moveTime)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>休息時間（speed<3）</div>
                <div class='table_td value'><%=Util.formatTime(summary.restTime)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'><%=Msg['terrainRise']%>作功</div>
                <div class='table_td value'><%=Util.formatRound(summary.statistics.work['terrainRise'],2)%> J</div>
            </div>
        </div>
    </div>
    <div class='tableBox'>
        <div class="table">
            <div class="table_tr">
                <div class='table_td title'>最高海拔</div>
                <div class='table_td value'><%=Util.formatDistance(summary.maxElevation)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>最低海拔</div>
                <div class='table_td value'><%=Util.formatDistance(summary.minElevation)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>累積上升</div>
                <div class='table_td value'><%=Util.formatDistance(summary.accumulatedRiseElevation)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>累積下降</div>
                <div class='table_td value'><%=Util.formatDistance(-1*summary.accumulatedDeclineElevation)%></div>
            </div>
            <div class="table_tr">
                <div class='table_td title'>環法爬坡等級</div>
                <div class='table_td value'><%=Util.formatSlopeRating( summary.slopeRatingValue)%></div>
            </div>
        </div>
    </div>

    <div class='tableBox'>
        <div class="table">
            <div class="table_tr">
                <div class="table_td"></div>
                <% _.each(terrain, function(val, type) { %>
                    <div class='table_td sub'><%=Msg[val]%></div>
                <%}); %>
            </div>
            <div class="table_tr">
                <div class="table_td title">里程</div>
                <% _.each(terrain, function(val, type) { %>
                    <div class='table_td value'><%=Util.formatDistance(summary.statistics.summary[type].totleDistance)%></div>
                <%}); %>
            </div>
            <div class="table_tr">
                <div class="table_td title">時間</div>
                <% _.each(terrain, function(val, type) { %>
                    <div class='table_td value'><%=Util.formatTime(summary.statistics.summary[type].totleDuration)%></div>
                <%}); %>
            </div>
            <div class="table_tr">
                <div class="table_td title">均速</div>
                <% _.each(terrain, function(val, type) { %>
                    <div class='table_td value'><%=Util.formatSpeed(summary.statistics.summary[type].totleDistance, summary.statistics.summary[type].totleDuration)%></div>
                <%}); %>
            </div>
        </div>
    </div>

</div>
